<div id="user_question">
<p id="question"><%= @ask %></p>
<p id="you">-- You</p>
</div>

<div id="response">
<p id="coach_response"><%= @answer %></p>
<p id="you">-- Your coach</p>
</div>

<%= link_to "Ask a new question", "http://localhost:3000/" %>
